.field.error .item {
   border-color: red;
}

.field .item::placeholder {
   color: rgb(255, 255, 255, .3);
}

.field .error-txt {
   font-size: 14.5px;
   color: red;
   text-align: left;
   display: none;
}

.field.error .error-txt {
   display: block;
}
